html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

div {

}

.group-1 {
    background: #55B3B9;
    width: 75%;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 150px;
}

.h1_group-1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.h2_group-1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.group-2 {
    background: #C56060;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 10px;
    height: 150px;
}

.h2_group-2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #222222B0;
    margin: 0;
}

.h3_group-2 {
    font-size: 2rem;
    font-family: 'Sail', sans-serif;
    color: #222222B0;
    margin: 0;
}

.group-3 {
    background: #8FC091;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 10px;
    height: 150px;
}

.h2_group-3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #2222229E;
    margin: 0;
}

.h3_group-3 {
    font-size: 16px;
    font-family: 'Sail', sans-serif;
    color: #2222229E;
    margin: 0;
}

.group-4 {
    background: #8F86AF;
    padding-left: 10px;
    width: 50%;
    margin-bottom: 10px;
    height: 150px;
}

.h2_group-4 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #2E2E2E6B;
    margin: 0;
}

.h3_group-4 {
    font-size: 2rem;
    font-family: 'Sail', sans-serif;
    color: #2E2E2E6B;
    margin: 0;
}
